<section class="main-content" id="main-content">
  <div class="container">
    <img src="../../../assets/images/line1.png" alt="line" class="line1" />
    <div class="main-info">
      <h1 class="main-title">Магия вкуса в каждой крошке</h1>
      <p class="main-text">
        Наши рецепты вдыхают жизнь в изысканность ингредиентов: ароматное
        натуральное масло, свежие сливки, чистый мёд и отборная мука. Мы
        тщательно отбираем каждый компонент премиального печенья, стремясь
        подарить вам истинное кулинарное наслаждение.
      </p>
      <div class="main-action">
        <button class="button" id="main-action-button">Заказать</button>
      </div>
    </div>
    <img
      src="../../../assets/images/cookie.png"
      alt="cookie"
      class="main-image" />
  </div>
</section>
