<section class="products" id="products" #products>
  <div class="container">
    <img src="../../../assets/images/line2.png" alt="line2" class="line2" />
    <div class="common-title">Выберите печенье</div>
    <div class="products-items">
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/1.png" alt="cookie1" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Лучшие друзья</div>
          <div class="products-item-text">
            Печенье, с которого все началось! Наше фирменное печенье с
            шоколадной крошкой и грецкими орехами хрустящее снаружи с достаточно
            толстой и липкой серединкой.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="20">20 $</div>
              <div class="products-item-weight">2 шт./ 200 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/2.png" alt="cookie2" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Шоколадный француз</div>
          <div class="products-item-text">
            Это печенье, изготовленное из тёмного французского какао и
            полусладкой шоколадной стружки, наверняка удовлетворит даже самого
            заядлого любителя шоколада.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="24">24 $</div>
              <div class="products-item-weight">2 шт./ 200 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/3.png" alt="cookie3" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Овсянка c изюмом, Сэр!</div>
          <div class="products-item-text">
            Это сдобное маслянистое печенье весом шесть унций каждое,
            золотисто-коричневое снаружи, влажное внутри и наполненное пухлым
            сладким изюмом.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="18">18 $</div>
              <div class="products-item-weight">2 шт./ 200 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/4.png" alt="cookie4" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Шоколадное наслаждение</div>
          <div class="products-item-text">
            Идеально хрустящее снаружи и достаточно густое и липкое в центре,
            это печенье наполнено полусладкой и тёмной шоколадной стружкой,
            придающей богатую глубину вкуса.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="24">24 $</div>
              <div class="products-item-weight">2 шт./ 200 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/5.png" alt="cookie5" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Арахисовый рай</div>
          <div class="products-item-text">
            Сладкое, пикантное и идеально сбалансированное печенье удовлетворяет
            тягу любителей арахисового масла и шоколада.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="20">20 $</div>
              <div class="products-item-weight">2 шт./ 200 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/6.png" alt="cookie6" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Шоколадный ореховый деликатес</div>
          <div class="products-item-text">
            Наша фирменная рецептура печенья с шоколадными крошками и грецкими
            орехами гарантирует незабываемый вкусовой опыт. Каждое печенье
            хрустит снаружи, но раскрывает внутри нежную сердцевину.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="18">18 $</div>
              <div class="products-item-weight">2 шт./ 200 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/7.png" alt="cookie7" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Ассорти фирменного печенья</div>
          <div class="products-item-text">
            Зачем выбирать один, когда можно получить их все? Наш классический
            ассортимент печенья включает в себя по одному из четырёх
            оригинальных вкусов печенья.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="36">36 $</div>
              <div class="products-item-weight">4 шт./ 400 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/8.png" alt="cookie8" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Лимонное печенье</div>
          <div class="products-item-text">
            Весна уже не за горами, но нам не терпелось подарить вам немного
            солнечного света: наше первое лимонное печенье. Это лакомство
            жевательное, лимонное, не слишком сладкое и даже немного…
            освежающее?
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="33">33 $</div>
              <div class="products-item-weight">4 шт./ 400 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/9.png" alt="cookie9" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Любители шоколада</div>
          <div class="products-item-text">
            Вам больше не нужно выбирать фаворитов. Мы сделали этот набор для
            всех людей, которые действительно любят шоколад…
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="38">38 $</div>
              <div class="products-item-weight">4 шт./ 400 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/10.png" alt="cookie10" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Карамель и кокос</div>
          <div class="products-item-text">
            Побалуйте себя кокосовым, маслянистым, карамельным печеньем, которое
            обладает невиданным ранее вкусом и текстурой. Наслаждение круглый
            год.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="33">33 $</div>
              <div class="products-item-weight">4 шт./ 400 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/11.png" alt="cookie11" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Веганское с шоколадной крошкой</div>
          <div class="products-item-text">
            Наше веганское безглютеновое печенье содержит кусочки хрустящих
            грецких орехов и полусладкую веганскую шоколадную стружку.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="39">39 $</div>
              <div class="products-item-weight">4 шт./ 400 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item-image">
          <img src="../../../assets/images/12.png" alt="cookie12" />
        </div>
        <div class="products-item-details">
          <div class="products-item-title">Крем-брюле ореховое печенье</div>
          <div class="products-item-text">
            Используя уникальную смесь ингредиентов, мы создали печенье с
            кусочками крем-брюле и миндальными орехами, которое обещает
            неповторимые гастрономические ощущения. Каждый кусочек обладает
            хрустящей корочкой и тает во рту.
          </div>
          <div class="products-item-extra">
            <div class="products-item-info">
              <div class="products-item-price" data-base-price="35">35 $</div>
              <div class="products-item-weight">4 шт./ 400 гр.</div>
            </div>
            <button class="button violet-button">Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
