<section class="order" id="order">
  <img src="../../../assets/images/line3.png" alt="line3" class="line3" />
  <div class="container">
    <div class="common-title">Закажите печенье</div>
    <img
      src="../../../assets/images/breadcrumbs.png"
      alt="breadcrumbs"
      class="order-bg-image" />
    <div class="order-block">
      <div class="order-form">
        <div class="order-form-text">
          Откройте для себя волшебство вкуса с нашим премиальным печеньем!
          Закажите прямо сейчас и окунитесь в мир сладких наслаждений.
        </div>
        <div class="order-form-inputs">
          <input type="text" placeholder="Выберите печенье" id="product" />
          <input type="text" placeholder="Ваше имя" id="name" />
          <input type="text" placeholder="Ваш телефон" id="phone" />
          <button class="button violet-button" id="order-action">
            Оформить заказ
          </button>
        </div>
      </div>
      <div class="order-block-image">
        <img
          src="../../../assets/images/order.png"
          alt="Cookies image"
          class="order-image" />
      </div>
    </div>
  </div>
</section>
